<div>
    <h3>CONTACT US</h3>

    <p>Lewis Bangham Fine Art Ltd.</p>

    <div id="contact-mail">
        <h4>Mailing</h4>
        <pre>
            PO BOX 2343134
            San Francisco
            California
            94133
        </pre>
    </div>

    <div id="contact-social">
        <h4>Social Media</h4>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
        </ul>
    </div>
</div>
