/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

@import "compass/css3";
@import "polyfill.object-fit.scss";
@include font-face('Copperplate', font-files('Copperplate.otf'));

@include font-face('Copperplate-Light', font-files('Copperplate-Light.otf'));


body, div, dl, dt, dd, ul, ol,
li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea,
p, blockquote, th, td, img {
  margin: 0;
  padding: 0;
}


body, h1, h2, h3, h4, h5, h5 {
    color: #d8b642;
    font-size: 1em;
    line-height: 0em;
}


body {
    background-color: #353131;
}


#app {
    display: flex;
    flex-direction: column;
}


a {
    color: #d8b642;
}


img {
    max-width: 95vw;
    max-height: 95vh;

    object-fit: contain;
    overflow: hidden;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}


header {
    background-color: #353131;
    /* want this to work with fixed for big screens */
    /*position: fixed;*/
    width: 100%;
}


header * {
    text-decoration: none;
    font-family: Copperplate-Light;
}


header > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 94%;
    height: 35px;
    margin: auto;
    overflow: auto;
    justify-content: space-between;
}


h1 a {
    letter-spacing: .5em;
    font-weight: normal;
    text-decoration: none; }


h1 a span.super {
    font-size: 125%;
    font-family: Copperplate;
}

nav#top-menu {
    width: 400px;
}
nav#top-menu ul {
    justify-content: space-between;
    flex-wrap: wrap;
}
nav#top-menu ul li h2 {
    text-align: center;
    font-weight: normal;
    font-size: 80%;
}

#main {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    min-height: 800px;
    overflow:hidden;
    width: 94%;
}

nav.thumbnails ul {
    width: 10vw;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumbnails ul li a {
    line-height: 0em;
    display: block;
    letter-spacing: 0;
    width: 100%;

}

article.images {
    width: 90vw;

}


@media (max-width: 340px) {

    header > div {
        flex-flow: column;
        height: 45px;
    }
    header h1 {
        font-size: 80%;
    }

    nav#top-menu {
        width: 90%;
    }

    nav#top-menu ul li h2 a {
        font-size: 85%;
    }

}


@media (max-width: 740px) and (min-width: 341px) {
    nav#top-menu {
        width: 300px;
    }
}
@media (max-width: 740px) {


    header > div {
        padding:5px;
        flex-flow: column;
        justify-content: space-around;
        height: 45px;
    }
    nav.thumbnails {
        display:none;
    }

    article.images{
        width: 100%;
    }
}


@media (min-width: 1300px) {
    header > div {
        height: 45px;
    }

    header h1 {
        font-size: 120%
    }

    nav#top-menu ul li h2 {
        font-size: 100%;
    }
}
