<section class="thumbs">
  <ul>
  <% @images.each do |image| %>
    <li>
      <%= link_to image_tag(image.thumb), image, 
        :data => {:fullsize => image.fullsize.to_s} %>
    </li>
  <% end %>
  </ul>
</section>
<div class="wrap">
  <div class="fullsize">
  <% #if @images %>
    <%= #image_tag(@images.first.fullsize) %>
  <% #else %>
    <div>No images found</div>
  <% #end %>
  </div>
</div>
<% if admin_signed_in? %>
  <section class="admin">
    <%= link_to 'New Image', new_image_path %>
    <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
  </section>
<% end %>
