<nav class="thumbnails">
    <ul>
        <% @images.each do |image| %>
            <li>
                <%= link_to image_tag(image.file.thumb), image, 
                    :data => {:panel => image.id} %>
            </li>
        <% end %>
    </ul>
</nav>
<article id="imagelistview">
    <% unless @images.empty? %>
        <ul class="imagelist">
        <% @images.each do |image| %>
            <li>
                <%= image_tag(image.file.medium) %>
            </li>
        <% end %>
        </ul>

    <% else %>
        <p>No images found</p>
    <% end %>
</article>

<%#<script>%>
    <%#// Call polyfill to fit in images%>
    <%#objectFit.polyfill({%>
        <%#selector: 'img',%>
        <%#fittype: 'contain'%>
    <%#});%>
<%#</script>%>
