<section class="thumbs">
  <ul>
  <% @images.each do |image| %>
    <li>
      <%= link_to image_tag(image.thumb), image, 
        :data => {:fullsize => image.fullsize.to_s} %>
    </li>
  <% end %>
  </ul>
</section>
<div class="wrap">
  <div class="fullsize">
  <% unless @images.empty? %>
    <%= image_tag(@images.first.fullsize) %>
  <% else %>
    <div>No images found</div>
  <% end %>
  </div>
</div>
