<!DOCTYPE html>
<html>
<head>
  <title>Bangallery</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div>
    <h1><a href="#">LEWIS BANGHAM</a></h1>
    <nav>
      <ul>
        <li class="home"><a href="#">Home</a></li>
        <li class="contact"><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<section>
<%= yield %>
</section>
</body>
</html>
